galleria:
- github action:
VERCEL_TOKEN
VERCEL_ORG_ID
VERCEL_PROJECT_ID

keystone:
- app:
NODE_ENV
PORT
HOST
DATABASE_URL

- github action:
KEYSTONE_DO_SSH_HOST
KEYSTONE_DO_SSH_USER
KEYSTONE_DO_SSH_KEY
KEYSTONE_DATABASE_URL