@import "tailwindcss";
@import "basecoat-css";

@theme {
    --font-heading: "Merriweather", serif;
    --font-body: "Outfit", sans-serif;
  }
  
  ::selection {
    background-color: oklch(27% 0.006 286.033);
    color: oklch(92% 0.004 286.32);
  }