<footer
  class="flex w-full flex-row items-center justify-center"
>
  <div class="flex w-full max-w-5xl flex-row items-center justify-end p-4">
    <span class="text-right font-heading text-base font-medium">
      &copy; {new Date().getFullYear()} Rushil Rai.
    </span>
  </div>
</footer>
