---
import { Image } from "astro:assets";

import LogoLightBg from "../../../assets/images/logo/logo-light-bg.png";
import { MenuIcon } from "@lucide/astro";
---

<header
  id="header"
  class="sticky top-0 z-50 flex w-full flex-row items-center justify-center border-b border-transparent bg-base-100 transition-[border-color] duration-200 [&.scrolled]:border-neutral/10"
>
  <div class="flex w-full max-w-5xl flex-row items-center justify-between p-1">
    <a href="/">
      <Image
        loading="eager"
        id="header-logo"
        src={LogoLightBg}
        alt="logo with the initials RR"
        width={50}
        height={50}
        densities={[1, 2]}
        class="opacity-0"
      />
    </a>

    <nav
      id="header-nav"
      class="hidden flex-row gap-6 font-heading text-base md:flex"
    >
      <a href="#hero" class="hover:text-primary">About</a>
      <a href="#experience" class="hover:text-primary">Experience</a>
    </nav>

    <details
      id="header-mobile-dropdown"
      class="dropdown dropdown-end md:hidden"
    >
      <summary class="btn btn-soft btn-sm btn-primary">
        <MenuIcon class="size-4" />
      </summary>

      <ul
        class="dropdown-content menu z-1 w-52 rounded-box bg-base-300 p-2 shadow-sm"
      >
        <li><a href="#hero">About</a></li>
        <li><a href="#experience">Experience</a></li>
      </ul>
    </details>
  </div>
</header>

<script>
  import { animate, stagger } from "motion";

  const logo = document.getElementById("header-logo") as HTMLImageElement;

  if (logo) {
    animate(logo, { opacity: [0, 1] }, { duration: 1 });
  }

  const nav = document.getElementById("header-nav") as HTMLUListElement;

  if (nav) {
    const navChildren = Array.from(nav.children);

    animate(
      navChildren,
      { y: [10, 0], opacity: [0, 1] },
      { delay: stagger(0.2), duration: 1 },
    );
  }

  const header = document.getElementById("header") as HTMLDivElement;

  function handleScroll() {
    if (window.scrollY > 50) {
      header.classList.add("scrolled");
    } else {
      header.classList.remove("scrolled");
    }
  }

  window.addEventListener("scroll", handleScroll);

  handleScroll();
</script>
