---
import { Image } from 'astro:assets'

import LogoLightBg from '../../../assets/images/logo/logo-light-bg.png'
---

<header
  id="header"
  class="sticky top-0 z-50 flex w-full flex-row items-center justify-center border-b border-transparent bg-base-100 transition-[border-color] duration-200 [&.scrolled]:border-neutral/10"
>
  <div class="flex w-full max-w-5xl flex-row items-center justify-between p-1">
    <a href="/">
      <Image
        loading="eager"
        id="header-logo"
        src={LogoLightBg}
        alt="logo with the initials RR"
        width={200}
        height={200}
        densities={[1, 2]}
        class="opacity-0 w-18 h-18"
      />
    </a>
  </div>
</header>

<script>
  import { animate } from 'motion'

  const logo = document.getElementById('header-logo') as HTMLImageElement

  if (logo) {
    animate(logo, { opacity: [0, 1] }, { duration: 1 })
  }

  const header = document.getElementById('header') as HTMLDivElement

  function handleScroll() {
    if (window.scrollY > 50) {
      header.classList.add('scrolled')
    } else {
      header.classList.remove('scrolled')
    }
  }

  window.addEventListener('scroll', handleScroll)

  handleScroll()
</script>
